@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

:root {
    --bg: #1f1f1f;
    --white: #f0f0f0;
    --black: #141414;
    --peach: #e79a66;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

.bayan {
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 50rem;
}

.bayan_title {
    color: var(--white);
    font-size: 3rem;
    font-family: 'Lora', serif;
    text-align: center;

}

.bayan_list {
    margin-top: 2rem;
}



.bayan_item {
    padding: 0 1rem;
    background-color: var(--black);
    margin: 2rem;
    border-radius: 1rem;
}

.bayan_item:hover {
    cursor: pointer;
}

.bayan_item:hover .img_wrapper {
    height: 25rem;
    padding-bottom: 2rem;
}

.bayan_item:hover .item_plus {
    transform: rotateZ(45deg);
    color: var(--peach);

}

.bayan_item:hover .item_title {
    color: var(--peach);
}

.bayan_item:active .img_wrapper {
    height: 25rem;
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

.item_title {
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--white);
    font-family: 'Lora', serif;
    max-width: 30%;
}

.img_wrapper {
    display: flex;
    justify-content: center;
    height: 0;

    transition: all .2s ease-in-out;
}

.bayan_item_img {
    max-width: 25rem;
    height: auto;
}

.item_plus {
    color: var(--white);
    font-size: 6rem;
    max-width: 8rem;
    max-height: auto;
    transition: all .2s ease-in-out;
    text-align: center;
}

.item_plus {
    cursor: pointer;
    transform-origin: center;
}